--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch==2.3.0+cpu
langchain==0.1.16
langchain-community==0.0.32
langchain-core==0.1.42
langchain-groq==0.1.2
langchain-huggingface==0.0.1
faiss-cpu==1.8.0
pypdf==4.2.0
sentence-transformers==2.7.0
python-dotenv==1.0.1
Flask==3.0.3
Flask-Cors==4.0.0
gunicorn==22.0.0
gevent==24.2.1


