--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch==2.3.0+cpu
langchain-groq
langchain-community
langchain-huggingface
faiss-cpu
pypdf
sentence-transformers
Flask
Flask-Cors
gunicorn
gevent
